{%- comment -%}
This is copied from the standard links.html, as of version 0.12.0.

We change it for the game selector, for each mod, we add "game-xyz" classes to its list item.
{%- endcomment -%}

<ul class="nav-list">
  {%- for node in include.pages -%}
  {%- if include.all == true or node.nav_exclude != true -%}

  {%- include mod_filter_classes.html page=node -%}

  {%- if include.ancestors contains node.title -%}

    <li class="nav-list-item {{ mod_filter_classes | join: " " }}">
      <a href="{{ node.url | relative_url }}" class="nav-list-link"> ∞ </a>
    </li>
    {%- capture nav_error_report -%}
      <blockquote class="warning">
        A page has the same title as its parent page or one of its ancestral pages!<br>
        This causes an incorrect link in the main navigation panel.<br>
        Page title: <code>{{ node.title }}</code>, location: <code>{{ node.path }}</code>.
      </blockquote>
    {%- endcapture -%}

  {%- else -%}

    {%- include components/nav/children.html node=node ancestors=include.ancestors all=include.all -%}

    <li class="nav-list-item {{ mod_filter_classes | join: " " }}">
      {%- if nav_children.size >= 1 -%}
      <button class="nav-list-expander btn-reset" aria-label="{{ node.title }} submenu" aria-expanded="false">
        <svg viewBox="0 0 24 24" aria-hidden="true"><use xlink:href="#svg-arrow-right"></use></svg>
      </button>
      {%- endif -%}
      <a href="{{ node.url | relative_url }}" class="nav-list-link">{{ node.title }}</a>
      {%- if nav_children.size >= 1 -%}
        {%- if node.child_nav_order == 'desc' or node.child_nav_order == 'reversed' -%}
          {%- assign nav_children = nav_children | reverse -%}
        {%- endif -%}
        {%- assign nav_ancestors = include.ancestors | push: node.title -%}
        {%- include components/nav/links.html pages=nav_children ancestors=nav_ancestors all=include.all -%}
      {%- endif -%}
    </li>

  {%- endif -%}

  {%- endif -%}
  {%- endfor -%}
</ul>
{%- comment -%}{%- endcomment -%}
