---
layout: default
---
<h1>{{- page.title -}}</h1>
<ul>
{%- assign sorted_categories = page.all_categories | sort_natural -%}
{%- for raw_category in sorted_categories -%}
    <li>
        <b><a href="{{- site.category_index.url | append: raw_category | relative-url -}}">
            {%- assign category = site.data.categories[raw_category] -%}
            {{- category.title | default: raw_category -}}
        </a></b>
        <br>
        {{- category.description | markdownify -}}
    </li>
{%- endfor -%}
</ul>
